footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
}

#loading {
    position: absolute;
    bottom: 1rem;
    left: -2rem;
    width: 10rem;
}

.hidden {
    display: none;
}