h2 {
    height: 3.0625rem;
    color: #4D4D4D;
    font-family: "Open Sans";
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 49px;
}

.intro p {
    color: #4D4D4D;
    font-family: "Open Sans";
    font-size: 0.9rem;
}